// less!

@root-color: #6F6F6F;
@collection-color: #777777;
@service-color: #474747;
@base-font-size: 13px;
@indent: 2em;


html { }
body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: @base-font-size;
}
.root {
    color: @root-color;
    font-size: 1em; 
}
.collection {
    color: @collection-color;
    font-size: 1em; 
    padding-left: @indent; 
    cursor: pointer;
}
.service {
    color: @service-color;
    font-size: 1em; 
    padding-left: (@indent * 2);
}
.collapser {
    padding: 0 .2em 0 .2em;
}



